@import './stylesheets/About';
@import './stylesheets/Blogs';
@import './stylesheets/Group';
@import './stylesheets/Header';
@import './stylesheets/Home';
@import './stylesheets/Login';
@import './stylesheets/Notfound';
@import './stylesheets/SignUp';
@import './stylesheets/BlogCreate';

.main {
  margin: 0 auto;
  font-family: "M PLUS Rounded 1c" , sans-serif;
}