@use './config/colors';
@use './config/designs';

.about{
    @extend %page_main;
    .inner {
        width: 95%;
        margin: 120px auto;
        h1{
            padding-left: 5px;
        }
    }
}